.contact {
  margin-top: 50px;
  background-color: #cde9f0;// light blue
}

.contact h1, h2{
  font-style: italic;
  color: #d5ddb0;
  background-color: #507eab;
  ;
}

.contact p {
  font-size: 1.3rem;
  font-weight: 300;
}