
<header class="main-header">
  <div class ="school-logo">
    <img src="assets/logo.png" alt="School Logo" />
  </div>
  <div class="navigation">
    <nav class="main-navigation">
      <ul class="navigation-list">
        <li class="home"><a href="#home-section">Home</a></li>
        <li class="academics"><a routerLink="/academics">Academics</a></li>
        <li class="admissions"><a routerLink="/admissions">Admissions</a></li>
        <li class="enguiry"><a routerLink="/enquiry">Enquiry</a></li>
        <li class="admissions"><a routerLink="/gallery">Photo Gallery</a></li>
        <li class="photo-gallery"><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <h3>Quick links</h3>
      <ul>
        <!-- <li><a routerLink="/home">Home</a></li> -->
         <li><a [routerLink]="['/home']" fragment="home-section">Home</a>
         </li>
        <li><a routerLink="/academics">Academics</a></li>
        <li><a routerLink="/admissions">Admissions</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3>Contact us</h3>
      <p>Chaitanya Bharathi Root & Rise School</p>
      <p>Tirupati, Andhra Pradesh</p>
      <p>📞 +91-8886940455</p>
      <p>✉️ cbschooltpt&#64;gmail.com</p>
    </div>
  </div>
</footer>