<div class="welcome">
  <h1>Welcome to Chaitanya Bharathi Root & Rise School!</h1>
</div>
<div id="home-section" class="home-banner">
    <img src="assets/home.png"/>

</div>
<div class="principal-msg">
  <div class="msg-text">
    <h2>Message from Correspondent and staff:</h2>
    <p>
      Our role here at Chaitanya Bharathi Root & Rise School is to serve the community (students, parents and teachers) with responsibility, clarity and joy so that our children can achieve far beyond our imagination. We are delighted to welcome you to Oakridge International School, a school known for its holistic and inclusive ethos.    </p>
  </div>
</div>
<div class="home-about-section">
  <div class="about-image">
    <img src="assets/schoolbuilding.png" alt="About Our School" />
  </div>
  <div class="about-text">
    <h2>About Our CBRR School:</h2>
    <p>
      Chaitanya Bharathi Root & Rise School has proudly stood as a beacon of learning for over 33 years, rooted deeply in traditional values while fostering the rise of every child into a confident, capable individual. Unlike institutions that treat education as a business, we see our school as a sacred opportunity to shape lives, empower potential, and support students in achieving meaningful milestones.
    </p>
    <p>
      Our philosophy embraces discipline, respect, communication, and problem-solving skills, woven into everyday learning. We encourage our students to express themselves freely, take initiative, and grow with confidence. Equal importance is given to sports, extracurricular activities, and moral development, ensuring that every child blossoms not just intellectually, but emotionally and socially.
    </p>
    <p>
      We believe that true education nurtures the head, heart, and hand — blending knowledge, empathy, and practical skills. At Chaitanya Bharathi Root & Rise School , we prioritize interactive teaching methods, real-world learning, and a curriculum that develops curiosity, creativity, and courage.
    </p>
    <p>
      Our passionate faculty, caring environment, and vibrant community come together to create a space where children are not just taught, but inspired to grow, to lead, and to rise with strong roots.
    </p>
  </div>
</div>
<div class = "vision-mission-section">
  <div class="vision-box">
    <h2>Our Vision:</h2>
    <p class="slide-text">
      To nurture students into confident, responsible individuals rooted in tradition and empowered to rise with knowledge, empathy, and leadership.
    </p>
  </div>
  <div class="mission-box">
    <h2>Our Mission:</h2>
    <p class="slide-text">
      To provide holistic, value-based education that fosters academic excellence, critical thinking, discipline, creativity, and lifelong learning.
    </p>
  </div>
</div>
<div class="why-join-section">
  <h2>Why Join CBRR school?</h2>
  <div class="features-grid">
    <div class="feature-card">
      <div class="icon">🎓</div>
      <h3>Experienced Faculty</h3>
      <ul>
        <li>Academically and Professionally qualified management and staff</li>
        <li>Subject experts with deep passion</li>
        <li>Latest teaching methods</li>
        <li>Digital class rooms</li>
      </ul>
    </div>

    <div class="feature-card">
      <div class="icon">🕊️</div>
      <h3>Peaceful Campus</h3>
      <ul>
        <li>Safe, green, and nurturing environment for focussed learning</li>
        <li>AC classrooms for nursery to UKG</li>
      </ul>
    </div>

    <div class="feature-card">
      <div class="icon">🌱</div>
      <h3>All-Round Growth</h3>
      <ul>
        <li>Focus on academics, sports & arts</li>
        <li>Competitions, workshops, and events</li>
        <li>School having playground</li>
        <li>Co-Curricular activities like Dance, Music, Art&Craft, Yoga, Karate, Games and Sports</li>
        <li>Field trips & Tours</li>
      </ul>
    </div>

    <div class="feature-card">
      <div class="icon">⚖️</div>
      <h3>Strong values and personal development</h3>
      <ul>
        <li>Traditional values blended with modern education</li>
        <li>Character-building from early age</li>
        <li>Public speaking & leadership</li>
        <li>One-on-one mentorship & guidance</li>
        <li>Science Lab, Computer Lab, Library</li>
      </ul>
    </div>
  </div>
</div>
<div class="ilm-collab">
  <h1>ILM</h1>
  <div class="ilm-img">
    <img src="assets/ilm.png" alt="ILM Collaboration" />
    <div class="ilm-overlay">
      <p>
        Through this partnership, our students gain access to ILM's educational excellence, 
        mentorship, and innovation programs — opening doors to real-world experiences.
      </p>
    </div>
  </div>
</div>
<div class="abacus-collab">
  <h1>Abacus</h1>
  <div class="abacus-img">
    <img src="assets/abacus.png" alt="Abacus Collaboration" />
    <div class="abacus-overlay">
      <p>
        Through this partnership, our students gain access to ILM's educational excellence, 
        mentorship, and innovation programs — opening doors to real-world experiences.
      </p>
    </div>
  </div>
</div>

<div class="iit-collab">
  <h1>IIT & NEET</h1>
  <div class="iit-img">
    <img src="assets/iit.png" alt="IIT & NEET Collaboration" />
    <div class="iit-overlay">
      <p>
        Through this partnership, our students gain access to ILM's educational excellence, 
        mentorship, and innovation programs — opening doors to real-world experiences.
      </p>
    </div>
  </div>
</div>
