.academics-banner {
  display: flex;
  justify-content: center;
  margin: 10px 0;;
}

.academics-banner img {
  width: 70%;
  height: auto;
  max-height: 500px;
  border-radius: 10px;
  position:  center;
  padding-top: 30px;
}